* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    border: 2px solid #000;
    width: 40%;
    border-collapse: collapse;
}

tr, th, td, tr th {
    border: 2px solid #000;
}

.unic tr th {
    border: none;
}

.unic td, th, tr, table {
    border: none;
}

.table {
    height: 125px;
}

mark {
    background-color: aqua;
}

.general-flexblock {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
    align-content: center;
}

.first-flexblocks-group{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.second-flexblocks-group{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.third-flexblocks-group{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.fourth-flexblocks-group{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.inserted-flexblock{
    display: flex;
    flex-direction: column;
}